* {
	margin: 0;
	padding: 0;
	font-family: Verdana, sans-serif;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

.tabs {
	border: 1px solid black;
	padding: 10px;
	border-radius: 5px;
	width: 700px;
	margin: 30px auto;
}

ul {
	list-style: none;
	background: grey;
	border-radius: 5px;
}

ul li {
	float: left;
}

ul a {
	display: block;
	line-height: 30px;
	padding: 0 10px;
	margin: 5px 5px 0px;
	border-radius: 5px 5px 0 0;
	text-decoration: none;
	color: white;
	background: #bbb;
}

ul a:hover {
	color: black;
}

p {
	margin: 10px;
}

.active {
	background: white;
	color: black;
}